#search-input:focus {
  color: #0E6EB8;
}

.page {
  padding-top: 30px;
}

.ui.grid>.column:not(.row) {
  padding: 2px;
}

.primary {
  color: #4183c4;
}

.secondary {
  color: #A0A0A0;
}

#image-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

